<div class="d-flex flex-column flex-shrink-0 p-3 bg-body-tertiary" style="width: 280px;">

    <div>
      <div style="width:70px; height: 70px ; border: 3px solid #c1bebe; border-radius: 50%;" class="mx-auto"><img src="/avtar/admin.png" alt="" style="max-width: 100%; border-radius: 50%;"></div>
      <h5 class="text-center">Admin</h5>
    </div>
  
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li>
        <a href="#" class="nav-link link-body-emphasis">
          Dashboard
        </a>
      </li>
      <li>
        <a routerLink="/admin/addService" class="nav-link link-body-emphasis">
          Add Service
        </a>
      </li>
      <li>
        <a routerLink="/admin/service" class="nav-link link-body-emphasis">
          View Service
        </a>
      </li>
      <li>
        <a routerLink="/admin/viewMessage" class="nav-link link-body-emphasis">
          View Message
        </a>
      </li>
      <li>
        <a routerLink="/admin/viewQuote" class="nav-link link-body-emphasis">
          View Quote
        </a>
      </li>
      <li>
        <a routerLink="/admin/viewOrder" class="nav-link link-body-emphasis">
          View Orders
        </a>
      </li>
    </ul>
</div>
