.form-wrapper{
    margin-top: 50px;
}

.form-wrapper form{
    background-color: #ddd;
    padding: 14px 30px;
}

.form-wrapper form div{
    margin-top: 5px;
}

.form-wrapper form div:last-child{
    margin-top: 35px;
}
.form-wrapper form div label{
    font-weight: bold;
    color: rgb(61, 61, 61);
    font-size: 17px;
}


